@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

.font-family: "Miama", sans-serif;

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.color {
  background-color: rgba(0, 0, 0, 1);
}

.txt-color {
  color: rgba(255, 255, 255, 1);
}

.sub-title-color {
  color: rgba(255, 255, 255, 0.5);
}

header {
  background: linear-gradient(0deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  background-color: rgb(25, 25, 25);
  background-blend-mode: overlay;
}

.title {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
}

.sub-title {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
}

.primary-btn {
  border-radius: 2.875rem;
  background: #e6533c;
  padding: 0.5rem 1.25rem;
  border: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
}

/* nav-bar-style-starts */

.nav-bar {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.brand-name {
  font-size: 2.25rem;
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  color: rgba(230, 83, 60, 1);
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  border-radius: 2.4375rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.25rem;
  align-items: center;
  gap: 2.9375rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
}

/* nav-bar-style-ends */

/* banner-section-style-stars */

.banner {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  gap: 10.44rem;
  margin-bottom: 6.25rem;
}

.banner-text-container {
  flex-basis: 50%;
}

.heading {
  color: #fff;
  font-family: Inter;
  font-size: 4.875rem;
  font-weight: 900;
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  margin: 1.75rem auto;
}

#shape {
  color: #fff;
  font-family: Miama;
  font-size: 4.875rem;
  font-weight: 400;
}

.btn {
  padding: 1rem 2.5rem;
  color: #fff;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 2.625rem;
  background: #e6533c;
  border: none;
}

.flat-button {
  gap: 0.88rem;
}

#download-btn {
  background: black;
}

.banner-image-container {
  flex-basis: 50%;
  max-width: 350px;
}

.banner-image-container img {
  width: 100%;
  padding: 2rem, 1.5rem, 2rem, 5.5rem;
  position: relative;
}

.gls-btn {
  max-width: 12.875rem;
  width: 100%;
  height: 6rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
}

#two-button {
  gap: 4rem;
}

#lower-btn {
  margin-top: -10rem;
  margin-left: -6rem;
}

#upper-btn {
  margin-top: -28rem;
  margin-right: -15rem;
}
.num {
  color: #fff;
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 900;
}
.sub {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
}

/* banner-section-style-ends */

/* habit-section-style-starts */
.habit {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}
.habit-text-container {
  text-align: center;
  margin-bottom: 3.62rem;
}

.habit-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  text-align: center;
}

.small-heading {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.38rem;
}

.card-img {
  border-radius: 10rem;
  border: 4px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1.88rem;
}
/* habit-section-style-ends */

/* extra-mile-styles-stars */
.extra-mile {
  width: 90%;
  margin: 0 auto;
  gap: 10.31rem;
  background-color: rgb(34 34 34);
  padding: 2rem;
  align-items: center;
  border-radius: 1.125rem;
  margin-bottom: 6.25rem;
}

.mile-text-container {
  flex-basis: 50%;
  text-align: left;
}

#miles-heading {
  font-size: 3rem;
}

.mile-image-container {
  flex-basis: 50%;
  max-width: 22.875rem;
}

.mile-image-container img {
  width: 100%;
  border-radius: 1.125rem;
}
/* extra-mile-style-ends */

/* BMI-Calculator-Starts */

table,
tr,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.6rem;
  border-collapse: collapse;
}

.bmi-text-container {
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 5rem;
}

.bmi-calculator-container {
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: space-around;
  flex-basis: 50%;
  padding: 2rem;
}

.Calculator-table {
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
}

#calculator-heading {
  margin-bottom: 1rem;
}

#calculator-description {
  margin-bottom: 1.5rem;
}

.calculator-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.88rem;
}

.cls-clr {
  background-color: rgb(54, 54, 54);
  padding: 1rem;
  width: 48%;
}

#dropdown-1 {
  width: 100%;
}

#Calculate-btn {
  margin-top: 1.44rem;
}

.hgt-wdth {
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
}

.Calculate-your-BMI {
  flex-basis: 50%;
  width: 100%;
}

/* BMI-Calculator-Ends */

/* meet-card-container-style-starts */
.meet-our-team {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}
.meet-text-container {
  text-align: center;
  margin-bottom: 3.62rem;
}
.meet-card-container {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.25rem;
  gap: 1.25rem;
  border-radius: 1.25rem;
}

.txt-format {
  padding: 1.25rem;
  margin-top: 12.5rem;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 20.5rem;
  width: 100%;
  border-radius: 1.125rem;
  margin: 0 auto;
}
.meet-card-1 {
  background-image: url(../images/trainer1.png);
}
.meet-card-2 {
  background-image: url(../images/trainer2.png);
}
.meet-card-3 {
  background-image: url(../images/trainer3.png);
}
.meet-card-4 {
  background-image: url(../images/trainer4.png);
}
.meet-card-5 {
  background-image: url(../images/trainer5.png);
}
.meet-card-6 {
  background-image: url(../images/trainer6.png);
}

/* meet-card-container-style-ends */

/* footer-section-style-start */
footer {
  background: rgba(255, 255, 255, 0.1);
  padding: 4.12rem 0rem 1rem 0rem;
}

.foot-text {
  max-width: 27.7rem;
  width: 100%;
}

.info {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.sub-heading {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.44rem;
}

.Contact {
  gap: 9.5rem;
  align-items: center;
  justify-content: center;
}

.foot-sub {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
}

#footer-brand {
  font-size: 4.375rem;
}

.foot-link {
  flex-direction: column;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1.4375rem;
  font-weight: 400;
  gap: 1.25rem;
}

.foot-item {
  list-style: none;
}

.info-1 {
  margin-top: 4.5rem;
  text-align: center;
}

hr {
  width: 90%;
  margin: 0 auto;
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.1);
}
/* footer-section-style-ends */
